---
- name: 'Restarting sshd'
  ansible.builtin.systemd:
    name: sshd
    state: restarted
    enabled: true
  when: not kickstart|bool
  listen: "restart sshd"

- name: 'Restarting mfetpd'
  ansible.builtin.systemd:
    name: mfetpd
    state: restarted
    enabled: true
  when: not kickstart|bool and '"mfetpd.service" in ansible_facts.services'
  listen: "restart mfetpd"
